Source: dbus-cxx
Priority: extra
Maintainer: Robert Middleton <robert.middleton@rm5248.com>
XSBC-Original-Maintainer: Rick L. Vinyard, Jr. <rvinyard@cs.nmsu.edu>
Build-Depends: cmake,
               dbus,
               dbus-x11,
               debhelper (>= 9),
               doxygen,
               graphviz,
               libglib2.0-dev,
               libcppgenerate-dev,
               libexpat1-dev,
               libglib2.0-dev,
               libpopt-dev,
               libsigc++-3.0-dev,
               libuv1-dev,
               qtbase5-dev,
               xsltproc
Standards-Version: 3.9.5
Section: libs
Homepage: http://dbus-cxx.github.io/

Package: dbus-cxx2
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: C++ bindings for the D-Bus library
 C++ bindings for the D-Bus library

Package: dbus-cxx-dev
Section: libdevel
Architecture: any
Depends: dbus-cxx2 (= ${binary:Version}), libsigc++-3.0-dev
Description: C++ development headers for dbus-cxx
 This package contains the C++ libraries and header files needed for
 developing dbus-cxx applications.
 dbus-cxx provides C++ bindings for the D-Bus library.

Package: dbus-cxx-tools
Section: utils
Architecture: any
Depends: dbus-cxx2 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: Tools to support dbus-cxx application development
 This package contains tools to assist with dbus-cxx application development.
 * dbus-cxx-xml2cpp:
   This application can be used to create external class proxies and adaptors
   from a D-Bus Introspection-like xml specification.
 * dbus-cxx-introspect:
   Command line utility to simplify introspection

Package: dbus-cxx-glib2
Section: libs
Architecture: any
Depends: dbus-cxx2 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: Adds support to dbus-cxx (C++ bindings for dbus) for glib integration
 Adds support to dbus-cxx (C++ bindings for dbus) for glib integration

Package: dbus-cxx-glib-dev
Section: libdevel
Architecture: any
Depends: dbus-cxx-glib2 (= ${binary:Version})
Description: Headers for developing programs that will use dbus-cxx-glib
 dbus-cxx provides C++ bindings for the dbus library. dbus-cxx-glib
 provides dbus-cxx a means of integrating with glib.
 Since gtkmm relies on glibmm for main-loop operations this library
 can also be used to integrate dbus-cxx with gtkmm applications.
 This package contains the libraries and header files needed for
 developing dbus-cxx-glib applications.

Package: dbus-cxx-qt2
Section: libs
Architecture: any
Depends: dbus-cxx2 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: Adds support to dbus-cxx (C++ bindings for dbus) for Qt integration
 Adds support to dbus-cxx (C++ bindings for dbus) for Qt integration

Package: dbus-cxx-qt-dev
Section: libdevel
Architecture: any
Depends: dbus-cxx-qt2 (= ${binary:Version}), dbus-cxx-dev
Description: Headers for developing programs that will use dbus-cxx-qt
 dbus-cxx provides C++ bindings for the dbus library. dbus-cxx-qt
 provides dbus-cxx a means of integrating with Qt.
 This package contains the libraries and header files needed for
 developing dbus-cxx-qt applications.

Package: dbus-cxx-uv2
Section: libs
Architecture: any
Depends: dbus-cxx2 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: Adds support to dbus-cxx (C++ bindings for dbus) for libuv integration
 Adds support to dbus-cxx (C++ bindings for dbus) for libuv integration

Package: dbus-cxx-uv-dev
Section: libdevel
Architecture: any
Depends: dbus-cxx-uv2 (= ${binary:Version}), dbus-cxx-dev
Description: Headers for developing programs that will use dbus-cxx-uv
 dbus-cxx provides C++ bindings for the dbus library. dbus-cxx-uv
 provides dbus-cxx a means of integrating with libuv.
 This package contains the libraries and header files needed for
 developing dbus-cxx-uv applications.
