Source: dbus-cxx
Priority: extra
Maintainer: Robert Middleton <robert.middleton@rm5248.com>
XSBC-Original-Maintainer: Rick L. Vinyard, Jr. <rvinyard@cs.nmsu.edu>
Build-Depends: cmake,
               dbus,
               dbus-x11,
               debhelper (>= 9),
               doxygen,
               graphviz,
               libcppgenerate-dev,
               libcppunit-dev,
               libdbus-1-dev,
               libexpat1-dev,
               libglibmm-2.4-dev,
               libpopt-dev,
               libsigc++-2.0-dev,
               m4,
               quilt,
               xsltproc
Standards-Version: 3.9.5
Section: libs
Homepage: http://dbus-cxx.github.io/

Package: dbus-cxx0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: C++ bindings for the D-Bus library
 C++ bindings for the D-Bus library

Package: dbus-cxx-dev
Section: libdevel
Architecture: any
Depends: dbus-cxx0 (= ${binary:Version}), libsigc++-2.0-dev, libdbus-1-dev
Description: C++ development headers for dbus-cxx
 This package contains the C++ libraries and header files needed for
 developing dbus-cxx applications.
 dbus-cxx provides C++ bindings for the D-Bus library.

Package: dbus-cxx-tools
Section: utils
Architecture: any
Depends: dbus-cxx0 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: Tools to support dbus-cxx application development
 This package contains tools to assist with dbus-cxx application development.
 * dbus-cxx-xml2cpp:
   This application can be used to create external class proxies and adaptors
   from a D-Bus Introspection-like xml specification.
 * dbus-cxx-introspect:
   Command line utility to simplify introspection

Package: dbus-cxx-glibmm0
Section: libs
Architecture: any
Depends: dbus-cxx0 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: Adds support to dbus-cxx (C++ bindings for dbus) for glibmm integration
 Adds support to dbus-cxx (C++ bindings for dbus) for glibmm integration

Package: dbus-cxx-glibmm-dev
Section: libdevel
Architecture: any
Depends: dbus-cxx-glibmm0 (= ${binary:Version})
Description: Headers for developing programs that will use dbus-cxx-glibmm
 dbus-cxx provides C++ bindings for the dbus library. dbus-cxx-glibmm
 provides dbus-cxx a means of integrating with glibmm.
 Since gtkmm relies on glibmm for main-loop operations this library
 can also be used to integrate dbus-cxx with gtkmm applications.
 This package contains the libraries and header files needed for
 developing dbus-cxx-glibmm applications.
