#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


# main packaging script based on dh7 syntax
%:
	dh $@  --buildsystem=cmake

#override_dh_auto_configure:
#	dh_auto_configure -- --enable-doc

CONFFLAGS=
ifneq (, $(findstring nocheck, $(DEB_BUILD_OPTIONS)))
CONFFLAGS=-DBUILD_TESTING=OFF
endif

# debmake generated override targets
# This is example for Cmake (See http://bugs.debian.org/641051 )
override_dh_auto_configure:
	dh_auto_configure --builddirectory=build-deb -- \
	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH) \
	-DENABLE_TOOLS=on \
	-DBUILD_SITE=on \
	-DTOOLS_BUNDLED_CPPGENERATE=off \
        -DENABLE_QT_SUPPORT=on \
        -DENABLE_GLIB_SUPPORT=on \
        -DENABLE_UV_SUPPORT=on \
        $(CONFFLAGS)

override_dh_auto_build:
	dh_auto_build --builddirectory=build-deb

override_dh_auto_install:
	dh_auto_install --builddirectory=build-deb

override_dh_auto_clean:
	dh_auto_clean --builddirectory=build-deb

override_dh_auto_test:
ifeq (, $(findstring nocheck, $(DEB_BUILD_OPTIONS)))
	# https://github.com/albfan/systemd-ubuntu-with-dbus/blob/89899b365a4fa7f0f60f561430c817666296fa55/debian/rules#L250
	# some tests hang under fakeroot, so disable fakeroot
	echo "01234567890123456789012345678901" > build-deb/machine-id
	env -u LD_PRELOAD SYSTEMD_MACHINE_ID_PATH=$(CURDIR)/build-deb/machine-id \
		make -C build-deb test
endif

